* {
    padding: 0;
    margin: 0;
}

:root {
    --corBackgroundPrincipal: #F3E5D8;
    --corBackgroundSecundaria: #FFFFFF;
    --corFonteH3: #955B73;
    --corFundoIngredientes: #FFF7FC;

    --fonteH1: 'Playfair Display', serif;
    --fonteH3: 'Roboto', sans-serif;
    --fonteTextos: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



